.content {
    display: grid;
    grid-row-gap: 92px;
}

@media screen and (max-width: 425px){
    .content{
        grid-row-gap: 66px;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px){
    .content{
        grid-row-gap: 88px;
    }
}