.intro__text {
    max-width: 690px;
    margin: 40px 0 33px 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 163%;
}

@media screen and (max-width: 722px){
    .intro__text{
        max-width: 288px;
        margin-bottom: 34px;
    }
}

@media screen and (min-width: 722px) and (max-width: 768px){
    .intro__text{
        max-width: 720px;
    }
}